*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    color: #ffffff;
    font-size: 20px;
}

button {
    background-color: purple;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 1rem;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.1s linear;
}
.box{
    width: 300px;
    height: 300px;
}